<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowTextColors</key>
	<false/>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.2b</string>
	<key>CFBundleIdentifier</key>
	<string>org.itisme.zMous.style</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>zMous</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>DefaultFontFamily</key>
	<string>Monaco</string>
	<key>DefaultFontSize</key>
	<integer>10</integer>
	<key>DefaultVariant</key>
	<string>neither</string>
	<key>DisableCombineConsecutive</key>
	<false/>
	<key>DisableCustomBackground</key>
	<false/>
	<key>MessageViewVersion</key>
	<integer>3</integer>
	<key>ShowsUserIcons</key>
	<true/>
</dict>
</plist>
